table {
	text-align: start;
	border: 4px rgb(228, 225, 225) ridge;
	border-radius: 10px;
    width: 98%;
	margin: 3px;

	overflow-x: auto;
}
tr:nth-child(even) {
	background-color: #f2f2f5;
}
tr:nth-child(odd) {
	background-color: #e2dcdc;
}


.st{
    font-size: 21px;
    height: 60px;
    font-weight: bold;
    color: #4DA3FF;
    align-items: center;
    justify-content: center;
}

tbody td {
    background-color: #E7D1FC;
    height: 50px;
    padding-left: 13px;
}

input {
    visibility: none;
}
